
#editpage
  display: none
  padding-top: 20px


.editor-wrap
  position: relative
  width: 960px
  padding-top: 40px
  margin-left: auto
  margin-right: auto

  h1
    font-size: 2em
    font-weight: bold
    padding-bottom: 20px
    letter-spacing: -2px
    border-bottom: none
    text-align: left
    margin-bottom: 0

  h2
    font-size: 1.5em
    line-height: 1.35

  #editor
    border: solid 1px #ededed
    background-color: #fff
    min-height: 400px
    box-sizing: border-box
    padding: 15px

    p:nth-child(1)
      -webkit-margin-before: 0
      -webkit-margin-start: 0px

  .operate-btn-wrap
    position: absolute
    top: 0px
    left:0
    right:0
    height:40px
    line-height:40px
    border:solid 1px #ededed
    overflow: hidden
    background-color:#fff

    .operate-btn-group
      float: right
      margin-right: 10px

      button
        line-height:22px
        cursor: pointer
        background-color: #fff
        border: solid 1px #dedede
        border-radius: 3px
        padding: 0 8px
        margin-right:10px


/*last line*/
