<html>
<head>
  <title>解忧杂货店</title>

<!--#insert file="-meta.html" -->

  <!-- inject:css -->
  插入样式
  <!-- endinject -->

  <!-- libs:js -->
  插入头部脚本
  <!-- endinject -->
</head>
<body>
<!-- 这个鬼地方放header -->
<!--#insert file="-header.html" -->
<!-- loader end -->


<!-- 这个鬼地方放loader -->
<!--#insert file="-loader.html" -->
<!-- loader end -->

<!-- 这个鬼地方放登录的container -->
<!--#insert file="-login.html" -->
<!-- 登录结束 -->

<!-- 登录成功，提示页面 -->
<!--#insert file="-loginnote.html" -->
<!-- 提示结束 -->

<!-- 编辑页面 -->
<!--#insert file="-editpage.html" -->
<!-- 编辑页面结束 -->

<!-- inject:js -->
插入尾部脚本
<!-- endinject -->
</body>
</html>
